<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/ico" href="/app/favicon.ico"/>
    <title>lofy</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script src="/client/index.tsx" type="module"></script>


  <div id="playlists">
    {{ range .Playlists }}
      <li>{{.}}</li>
    {{ end }}
  </div>
  <div id="albums">
    {{ range .Albums }}
      <li>{{.}}</li>
    {{ end }}
  </div>

  </body>
</html>
