@font-face 
{
    /* https://fonts.google.com/specimen/Source+Sans+Pro?sidebar.open=true&selection.family=Source+Sans+Pro */
    font-family: 'Source Sans Pro';
    src: url('resc/SourceSansPro-Regular.ttf'); 
}

* 
{ 
    font-family: 'Source Sans Pro', Arial; 
    overflow: scroll; 
}

:root 
{
	/* COLORS */    
    --bar: #131314;
    --bkg: #1a1c1f;
	--text: #d1d2d2;
}


body
{ 
    background-color: var(--bkg); 
    color: var(--text);
    margin: 0; padding: 0; border: 0; outline: 0;
}

/********** Bar **********/
#bar 
{
   background-color: var(--bar);
   opacity: 1.0;
   position: fixed;
   text-align: center;
   
   width: 100%;
   height: fit-content;
   min-width: 50%;
   z-index: 10;
    
}

/* Organize #bar items in a horizontal list */
#bar > div
{
    opacity: 1.0;
    display: inline-block;
    width: fit-content;
    margin: 5px;
}

#currentTrack
{
    max-height: 20px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#bar > select
{
    opacity: 1.0;
    background-color: var(--bkg);
    color: var(--text);
    float: right;
}

.seperator
{
    margin: 10px;
}

/********** Track list **********/
#trackList
{
    border-collapse: collapse;
    text-align: right;

    position: absolute;
    width: 70%;
    height: auto;
    
    top: 100px;
    left: 5%;
    overflow: scroll;
    padding: 15px;
}

.trackItem
{
    opacity: 1.0;
    max-height: 18px;
    max-width: 100px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    
    border-bottom: 1px solid rgba(65, 64, 64, 0.5)
}

td,th { padding-right: 14px;  }

.clickable
{
    cursor: pointer;
}

audio { display: none; }

/*#dummy
{ 
    position: fixed;
    top: 700px;
}*/