@font-face 
{
    /* https://fonts.google.com/specimen/Source+Sans+Pro?sidebar.open=true&selection.family=Source+Sans+Pro */
    font-family: 'Source Sans Pro';
    src: url('resc/SourceSansPro-Regular.ttf'); 
}

* 
{ 
    font-family: 'Source Sans Pro', Arial; 
    overflow: scroll; 
    white-space: nowrap;
}

:root 
{
	/* COLORS */    
    --bar: #131314;
    --bkg: #1a1c1f;
    --text: #d1d2d2;
    --tint: #bb92ac;

    --green: #1cb854;
}


body
{ 
    background-color: var(--bkg); 
    color: var(--text);
    margin: 0; padding: 0; border: 0; outline: 0;
}

audio { display: none; }

/********** Bar **********/
#bar 
{
   background-color: var(--bar);
   opacity: 1.0;
   position: fixed;
   
   /* The bar only contains text elements (besides the floated <select> elements) */
   text-align: center;
   
   width: 100%;
   height: fit-content;
   min-width: 50%;
   z-index: 10;
    
}

/* Organize #bar items in a horizontal list */
#bar > div
{
    opacity: 1.0;
    display: inline-block;
    width: fit-content;
    margin: 5px;
}

#currentTrack
{
    max-height: 20px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#shuffleToggle 
{ 
    border: thin solid var(--text);
    border-radius: 50%;
}

#playlistToggle, #coverToggle 
/* Set a transparent border for alignment */
{ 
    border: thin solid rgba(0,0,0,0);
    border-radius: 50%;
}

#bar > select
{
    opacity: 1.0;
    background-color: var(--bkg);
    color: var(--text);
    float: right;
    max-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;

}

.seperator
{
    margin: 10px;
}

/********* Flex container *******/

#container
/* The trackList and cover are setup inside a flexbox */
{
    position: absolute;
    top: 8%;
    left: 0%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    align-items: flex-start;
    justify-content: center;
    overflow: scroll;
    width: 100%;
    height: fit-content;
}

/****** Cover ********/
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 0.6; }
}

#cover
{ 
    margin-left: 10px;
    margin-right: 10px;
    
    width: 200px;
    height: 200px;
    border-radius: 5%;
    
    /* Avoid image distortion */
    min-width: 200px;
    min-height: 200px;

    animation: fadeIn 0.5s;

    /* Fade out */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s linear;
}

/********** Track list **********/

@keyframes fadeIn100 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#trackList
{
    border-collapse: collapse;
    text-align: right;

    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    
    animation: fadeIn100 0.5s;

    /* Fade out */
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

/******** Track items *******/
.trackItem
{
    opacity: 1.0;
    max-height: 18px;
    margin-bottom: 5px;
    
    border-bottom: 1px solid rgba(65, 64, 64, 0.5)
}

.trackItem:hover
{
    border: 1px solid var(--tint);
    background-color: rgba(69, 69, 75, 0.5);
    opacity: 0.5;
}

.trackItem > td
{
    /* Set an upper limit for the width of column text in the playlist */
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 250px;
}

td,th { padding-right: 14px;  }
thead
{
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(65, 64, 64, 0.5)
}

/********* MISC *********/

.amp
{
    content: url("resc/amp.gif");
    align-content: right;
    height: 20px;
    width: 18px;
}

/* Allow for the playbutton to appear 'over' the source indicator for a track */
.nf-fa-play:before {
    content: "\f04b" !important;
}

.clickable
{
    cursor: pointer;
}

.floatLeft
{
    float: left;
    font-size: medium;
}
