
// Shorthand mixins to target mobile/widescreen
// Does not work for variable defs
@mixin mobile {
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}
@mixin widescreen {
  @media (min-width: 1000px) {
    @content;
  }
}

// Limit text overflow and the width of an element
@mixin limit-width($max-width, $min-width: $max-width, $display: inline-block) {
  display: $display;
  max-width: $max-width;
  min-width: $min-width;
  width: $max-width;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin clickable-item($hover-border) {
  margin-bottom: 5px;
  padding: 3px;
  border-bottom: 1px solid rgba(#414040, 0.5);

  &:hover {
    border: 1px solid $hover-border;
    background-color: rgba(#45454b, 0.5);
    opacity: 0.5;
  }

}
