@mixin fade-in($sec: 1.0s) {
  @keyframes _fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  animation: _fade-in $sec;
}

// Limit text overflow and the width of an element
@mixin limit-width($max-width, $min-width: $max-width, $display: inline-block) {
  display: $display;
  max-width: $max-width;
  min-width: $min-width;
  width: $max-width;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
