@use "vars";

nav {
   z-index: vars.$nav_z;
   background-color: vars.$nav_bg;
   position: fixed;
   top: 0;
   left: 0;
   text-align: center;
   
   width: 100%;
   min-width: 50%;

   display: grid;

   // Top container with controls
   div:nth-child(1) {
     grid-row: 1;
     grid-column: 1;
     height: fit-content;
     span {
       display: inline-block;
       width: fit-content;
       margin: 5px;
     }
     span.seperator {
         margin: 5px 15px 5px 15px
     }
   } 

   %progress-bar {
    grid-row: 2;
    grid-column: 1;
    height: vars.$progress_bar_height;
    background-color: vars.$progress_bar_default;
    width: 100%;
   }

   // Underlying placeholder for progress bar
   div:nth-child(2) {
    @extend %progress-bar;
   } 

   // The actual progress bar
   div:nth-child(3) {
    @extend %progress-bar;

    z-index: vars.$nav_progress_z;
    background-image: vars.$progress_bar_gradient;

    // For the gradient to reach the end of the screen
    // we need a width slightly above 100%
    width: 0%;

    // Changes to the width are applied linearly over 3 seconds
    // without any delay
    transition: width 3s linear 0s;
   }
}

