@use "vars";
@use "funcs";

$item_padding: 0 40px 10px 20px;

div#sidebar {
  z-index: vars.$sidebar_z;

  position: absolute;
  left: 0;
  top: 1%;
  width: vars.$sidebar_width;
  padding: 2% 15px 20px 0;

  //display: inline-block;
  //width: vars.$sidebar_width;
  //height: 100%;
  //padding: 4% 100px 100px 0;
  //margin: 0 0 0 0; 

  background-color: vars.$sidebar_bg;

  h3 {
    padding: $item_padding;
    padding-top: 15px;
    border-bottom: 1px solid rgba(vars.$accent, 0.5);
  }
  ul {
    font-size: vars.$font-size;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: $item_padding;

    li {
      @include funcs.clickable-item(vars.$accent);

      // Spacing of name and link (only applicable for YT)
      display: grid;
      grid-template-columns: 90% 10%;
      span {
        grid-row: 1;
        grid-column: 1;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      a {
        grid-row: 1;
        grid-column: 2;
        margin-left: 0.5em;
        padding-left: 0.5em;
      }
    }
  }
}


