@use "vars";
@use "funcs";

$item_padding: 0 40px 10px 20px;

div#sidebar {
  padding-top: 10%;
  padding-bottom: 50px;
  height: 100%;

  background-color: vars.$sidebar_bg;

  grid-row: 1;
  grid-column: 1;
  border-radius: 0% 0% 0% 0%;

  h3 {
    padding: $item_padding;
    padding-top: 15px;
    border-bottom: 1px solid rgba(vars.$accent, 0.5);
  }
  ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: $item_padding;

    li {
      @include funcs.clickable-item(vars.$accent);

      // Spacing of name and link (only applicable for YT)
      display: grid;
      grid-template-columns: 90% 10%;
      span {
        grid-row: 1;
        grid-column: 1;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      a {
        grid-row: 1;
        grid-column: 2;
        margin: 0 0 0 0.5em;
        padding: 0 0 0 0.5em;
      }
    }
  }
}


