@use "vars";
@use "funcs";

$amp_width: 18px;

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

div#root > table {
  padding: vars.$root_items_padding_top 0 0 5%;
  text-align: left;
  grid-row: 1;
  grid-column: 2;

  // Prevent cells from folding
  white-space: nowrap;

  th,td {
    animation: fade-in 1.0s;
    height: 20px;
    text-align: left;
    margin: 0 0 0 0;
    padding: 2px 10px 0 0;

    // Each column needs a min-width for proper alignment
    &:nth-child(1) { // Amp icon
      @include funcs.limit-width($amp_width);
    }
    &:nth-child(2) { // Title
      @include funcs.limit-width(14%, 18em);
    }
    &:nth-child(3) { // Album
      @include funcs.limit-width(14%, 18em);
    }
    &:nth-child(4) { // Artist
      @include funcs.limit-width(14%, 18em);
    }
    &:nth-child(5) { // Duration
      @include funcs.limit-width(4.5em);
    }
    &:nth-child(6) { // Link
      @include funcs.limit-width(1.5em);
    }
  }
  // Currently playing indicator
  td.amp {
      content: url("amp.gif");
      width: $amp_width
  }
}


