@use "vars";

div#root > table {
  margin-top:  4%;
  margin-bottom: 4%;
  text-align: center;

  // Collapse the borders of rows in the table
  border-collapse: collapse;

  // Prevent cells from folding
  white-space: nowrap;
  
  // Highlight each individual <td> when a <tr> is hovered
  // applying the :hover() effect directly on the <tr> is not
  // preferable since it extends beyond the actual text
  tbody > tr:hover {
    td:nth-child(1) { // Title
      border-bottom: vars.$hl_bottom_border;
    }
    td:nth-child(2) { // Album
      border-bottom: vars.$hl_bottom_border; 
    }
    td:nth-child(3) { // Artist
      border-bottom: vars.$hl_bottom_border;
    }
    td:nth-child(4) { // Duration
      border-bottom: vars.$hl_bottom_border;
    }
  }
  // Currently playing indicator
  span.amp {
      height: vars.$font_size;
      @include vars.mobile {
        height: vars.$mobile_font_size;
      }
      content: url("amp.gif");
      margin-right: 1em;
  }
  th,td {
    @include vars.fade-in();
    height: vars.$row_height;
    margin: 4px 0 5px 0;

    text-align: left;
    padding-right: 10px;

    // Each column needs a min-width for proper alignment
    &:nth-child(1) { // Title
      @include vars.limit-width(14%, 18em);
      border-bottom: vars.$default_bottom_border;
      &:hover { color: vars.$accent; }
    }
    &:nth-child(2) { // Album
      @include vars.limit-width(14%, 18em);
      border-bottom: vars.$default_bottom_border;
      @include vars.mobile { display: none };
    }
    &:nth-child(3) { // Artist
      @include vars.limit-width(14%, 18em);
      border-bottom: vars.$default_bottom_border;
      display: none;
      @media (min-width: vars.$widescreen_min_width) { // Only on widescreen
        display: inline-block;
      }
    }
    &:nth-child(4) { // Duration
      @include vars.limit-width(4.2em);
      border-bottom: vars.$default_bottom_border;
      @include vars.mobile { display: none };
    }
    &:nth-child(5) { // Youtube link
      @include vars.limit-width(1.5em);
      a:hover { color: vars.$accent; }
      @include vars.mobile { display: none };
    }
  }
}
