@use "funcs";

// Font size for tracks and playlists
$font-size: 14px;

//== Color scheme ==
$accent:     #6e85d3;

$body_bg:    #23283d;
$nav_bg:     #1e2233;
$sidebar_bg: #212330;

$fg_white:   #f5e4f3; 
$fg_grey:    #8e9297;

//== Selection highlighting ==//
$hl_bg:                 #45454b;
$default_underline:     #414040;
$default_bottom_border: 1px solid rgba($default_underline, 0.5);

//== Side bar ==//
//$sidebar_width: 15em; // TODO wide
$sidebar_width: 15em;

//== Progress bar ==//
$progress_bar_height: 6px;
$progress_bar_gradient: linear-gradient(90deg, #de95c3 93%, transparent 100%);
$progress_bar_default: #6a7294;

//== Z-indices ==//
$cover_z: 11;
$nav_progress_z: 10;
$nav_z: 9;
$sidebar_z: 8;
$table_z: 7;


