// @media query cut-off points
$mobile_min_width: 320px;
$mobile_max_width: 480px;
$widescreen_min_width: 1400px;

$mobile_sidebar_width: 8em;
$sidebar_width: 10em;
$widescreen_sidebar_width: 15em;

// Font size for tracks and playlists
$font_size: 14px;
$mobile_font_size: 10px;

//== Color scheme ==
$accent:     #6e85d3;

$body_bg:    #23283d;
$nav_bg:     #1e2233;
$sidebar_bg: #212330;

$fg_white:   #f5e4f3;
$fg_grey:    #8e9297;

//== Selection highlighting ==//
$hl_bottom_border:      1px solid $accent;

// Setting the border to 'none' causes flickering when
// the visibility of the `hl_border` changes
$default_bottom_border: 1px solid rgba(#414040, 0.0);

//== Tracks ==//
$row_height: 20px;

//== Progress bar ==//
$progress_bar_height: 6px;
$progress_bar_gradient: linear-gradient(90deg, #de95c3 93%, transparent 100%);
$progress_bar_default: #6a7294;

//== Z-indices ==//
$msgbox_z: 14;
$cover_z: 13;
$pulse_z: 12;
$cover_bg_z: 11;
$nav_progress_z: 10;
$nav_z: 9;
$sidebar_z: 8;
$table_z: 7;


//== Mixins ==//
@mixin mobile() {
  @media
    (min-width: $mobile_min_width) and
    (max-width: $mobile_max_width) {
    @content;
  }
}

@mixin widescreen() {
  @media
    (min-width: $widescreen_min_width) {
    @content;
  }
}

@mixin fade-in($sec: 1.0s) {
  @keyframes _fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  animation: _fade-in $sec;
}

// Limit text overflow and the width of an element
@mixin limit-width($max-width, $min-width: $max-width, $width: $max-width, $display: inline-block) {
  display: $display;
  max-width: $max-width;
  min-width: $min-width;
  width: $width;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

