@use "vars";

div.sidebar {
  z-index: vars.$sidebar_z;
  position: fixed;
  overflow-y: scroll;
  left: 0;
  top: 0;

  width: vars.$sidebar_width;

  @include vars.widescreen {
    width: vars.$widescreen_sidebar_width;
  }
  @include vars.mobile {
    top: 1%;
    visibility: hidden;
  }

  height: calc(100% - 40px);
  padding: vars.$top_spacing 15px 20px 0;

  transition: width 0.2s;

  background-color: vars.$sidebar_bg;

  &.hidden {
    width: 0;
    padding: vars.$top_spacing 0 0;
  }
}

// Error message box
p.unavail {
  font-size: 18px;
  color: vars.$fg_grey;
}

