@use "vars";

%cover-pos {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0; padding: 0; border: 0; outline: 0;
}

div.cover {
    z-index: vars.$cover_bg_z;
    background-color: vars.$body_bg;
    @extend %cover-pos;

    div.bg { // Blurred background
        @extend %cover-pos;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: blur(8px);

        // Lower the brightness to ensure that white text is readable
        filter: brightness(50%);
    }
    div.fg { // Cover image and title
        z-index: vars.$cover_z;
        position: fixed;

        // Center the container
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;

        background-color: transparent;

        img {
            // 600x600 seems to be the standard for iTunes covers
            // We zoom in on all other media to fit these dimensions
            // See `components/Player.tsx`
            border-radius: 5%;
            object-fit: none;
        }
        p {
            font-size: 34px;
            font-weight: bolder;
        }
    }
}


