#_playlists,#_albums {
  position: fixed;
}
#_playlists {
  left: 30%;
}
#_albums {
  left: 50%
}
#_yt-playlists {
  left: 70%
}

.selected {
  text-decoration: underline; 
}

$primary-color: #bb92ac;

div {
  color: $primary-color;
  position: absolute;
}

