@use "vars";

@use "cover";
@use "nav";
@use "sidebar";
@use "tracks";

@font-face {
    font-family: "JetBrains";
    src: url('JetBrains\ Mono\ Regular\ Nerd\ Font\ Complete.ttf'); 
}

body {
  font-family: "JetBrains", "Arial";
  background-color: vars.$body_bg;
  color: vars.$fg_white;
  margin: 0; padding: 0; border: 0; outline: 0;
  overflow-x: hidden;

  // Indicate clickable elements
  [role='menuitem'],[role='button'] {
    cursor: pointer;
  }
  // Indicate selected <h3>, <li> and <tr>
  .selected {
    color: vars.$accent;
    font-weight: bold;
  }
  // Disable defaults for <a>
  a { 
    color: inherit; 
    text-decoration: none; 
  }

  // Mountpoint container
  div#root {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    //display: inline-block;
    //grid-gap: vars.$root_grid_gap;

    // One row that fill the entire x-axis
    //grid-auto-rows: min-content;
    //grid-template-rows: 100%;
    //grid-template-columns: vars.$sidebar_width 60%;
    //grid-auto-columns: min-content;

    width: 100%;
    height: 100%;
    margin-top: 0;
  }
}



