.selected {
  text-decoration: underline; 
}

$primary-color: #bb92ac;

h3 {
  padding-top: 15px; 
}

div {
  color: $primary-color;
  position: absolute;
}

.amp {
    content: url("amp.gif");
    height: 20px;
    width: 18px;
}

th {
  text-align: left;
}


nav {
   position: fixed;
   
   // The bar only contains text elements
   text-align: center;
   
   width: 100%;
   height: fit-content;
   min-width: 50%;
   z-index: 10;
   top: 0;
   left: 0;

   background-color: #2f343f;
}

// Organize nav items in a horizontal list
nav > span {
    display: inline-block;
    width: fit-content;
    margin: 5px;
}

.seperator {
    margin: 10px;
}

