@use "vars";

@font-face {
    font-family: "JetBrains";
    src: url('JetBrains\ Mono\ Regular\ Nerd\ Font\ Complete.ttf'); 
}

* {
  // Hide scrollbar
  scrollbar-width: none; // Firefox
  *::-webkit-scrollbar { // Chrome
    display: none;
  }
}

body {
  font-family: "JetBrains", "Arial";
  background-color: vars.$body_bg;
  color: vars.$fg_white;
  margin: 0; padding: 0; border: 0; outline: 0;
  overflow-x: hidden;

  // Indicate clickable elements
  [role='menuitem'],[role='button'] {
    cursor: pointer;
  }
  // Indicate selected <h3>, <li> and <tr>
  .selected {
    color: vars.$accent;
  }
  // Disable defaults for <a>
  a { 
    color: inherit; 
    text-decoration: none; 
  }

  // Mountpoint container
  div#root {
    font-size: vars.$font_size;
    margin-top: 0;

    @include vars.mobile {
      font-size: vars.$mobile_font_size;
      margin-top: 10%;
    }

    // Only the <Tracks> are displayed as a flex-item
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 100%;
  }
}



