@use "vars";

@use "cover";
@use "nav";
@use "sidebar";
@use "tracks";

body {
  font-family: "Arial";
  background-color: vars.$body_bg;
  color: vars.$fg_white;
  margin: 0; padding: 0; border: 0; outline: 0;

  // Indicate clickable elements
  [role='menuitem'],[role='button'] {
    cursor: pointer;
  }
  // Indicate selected <h3>, <li> and <tr>
  .selected {
    color: vars.$accent;
    font-weight: bold;
  }
  // Disable defaults for <a>
  a { 
    color: inherit; 
    text-decoration: none; 
  }

  // Mountpoint container
  div#root {
    display: grid;
    grid-gap: vars.$root_grid_gap;
    grid-template-columns: vars.$sidebar_width 90%;

    width: 100%;
    height: 100%;
    margin-top: 0;
  }
}



