@use "vars";

$width: 20%;
$horizontal_margin: 10px;
$loading_duration: 0.5s;
$bar_width: 18px;
$loading_direction: alternate;

@mixin loadingbar($name, $from, $mid, $to) {
  @keyframes loadingbar-#{$name} {
    0% {
      height: $from;
    }
    50% {
      height: $mid;
    }
    100% {
      height: $to;
    }
  }
}

@include loadingbar("15", 30%, 60%, 90%);
@include loadingbar("24", 60%, 90%, 60%);
@include loadingbar("3",  90%, 60%, 30%);

div.loading {
  @include vars.fixed-centered($width, 20px);

  z-index: vars.$loading_z;
  text-align: center;
  height: 70px;
  top: 15%;

  display: grid;
  grid-template-columns: repeat(5, $bar_width);
  column-gap: 15px;
  align-items: center;
  justify-content: center;


  span {
    height: 100%;
    width: $bar_width;
    border-radius: 0%;

    background-color: vars.$fg_white;

    &:nth-child(1),&:nth-child(5) {
      animation: loadingbar-15 $loading_duration $loading_direction infinite;
    }
    &:nth-child(2),&:nth-child(4) {
      animation: loadingbar-24 $loading_duration $loading_direction infinite;
    }
    &:nth-child(3) {
      animation: loadingbar-3 $loading_duration $loading_direction infinite;
    }
  }

}
