@use "vars";

$width: 20%;
$horizontal_margin: 10px;
$loading_duration: 0.5s;
$bar_width: 18px;
$loading_direction: alternate;

@keyframes loadingbar15 {
  0% {
    height: 30%;
  }
  50% {
    height: 60%;
  }
  100% {
    height: 90%;
  }
}
@keyframes loadingbar24 {
  0% {
    height: 60%;
  }
  50% {
    height: 90%;
  }
  100% {
    height: 60%;
  }
}
@keyframes loadingbar3 {
  0% {
    height: 90%;
  }
  50% {
    height: 60%;
  }
  100% {
    height: 30%;
  }
}

div.loading {
  text-align: center;
  position: fixed;
  left: calc(50% - ($width/2));
  top: 15%;

  display: grid;
  grid-template-columns: repeat(5, $bar_width);
  column-gap: 15px;
  align-items: center;
  justify-content: center;

  height: 70px;
  width: $width;

  span {
    height: 100%;
    width: $bar_width;
    border-radius: 0%;

    background-color: vars.$fg_white;

    &:nth-child(1),&:nth-child(5) {
      animation: loadingbar15 $loading_duration $loading_direction infinite;
    }
    &:nth-child(2),&:nth-child(4) {
      animation: loadingbar24 $loading_duration $loading_direction infinite;
    }
    &:nth-child(3) {
      animation: loadingbar3 $loading_duration $loading_direction infinite;
    }
  }

}
