@use "vars";

$width: 244px;
$font_size: 14px;
$height: $font_size*5;

div.msgbox {
  z-index: vars.$msgbox_z;
  position: fixed;
  left: calc(50% - $width/2);

  display: flex;

  width: $width;
  height: $height;

  // Off-screen and transparent by default
  bottom: -3%;
  opacity: 0;

  // Properties to apply transition to
  // when the .appear class is added/removed.
  transition: bottom .5s ease-in-out, opacity .5s ease-in-out;

  &.appear {
    bottom: 3%;
    opacity: 1;
  }

  span {
    flex: 0.5;
    text-align: center;
    margin-left: 5px;
    font-size: $font_size*2;
    padding-top: $font_size;
  }
  p {
    flex: 2;
    font-size: $font_size;
    width: $width - 10px;
    // We lower the height to create 'padding'
    height: $height - $font_size*2;

    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
    hyphens: auto;
  }

  border-radius: 2%;
  color: vars.$fg_white;
  background-color: vars.$sidebar_bg;
  border: 2px dotted vars.$lilac;
}
