@use "vars";

:export { // Values accessible from JS imports
  white:   vars.$fg_white;
  lilac:  vars.$lilac;
}

nav {
   z-index: vars.$nav_z;
   background-color: vars.$nav_bg;
   position: fixed;
   top: 0;
   left: 0;
   text-align: center;

   width: 100%;
   min-width: 50%;

   display: grid;

   @include vars.mobile {
    font-size: vars.$mobile_font_size + 2;
   }

   // Top container with controls
   div:nth-child(1) {
     grid-row: 1;
     grid-column: 1;
     height: fit-content;

     span {
       display: inline-block;
       width: fit-content;
       margin: 5px;
     }
     // Extra spacing for the first four buttons
     span[role="button"]:nth-child(-n+4) {
       padding: 0 5px 0 5px;
     }
     span.seperator {
         margin: 5px 15px 5px 15px;
         @include vars.mobile {
           margin: 5px 7px 5px 7px;
         }
     }
     :global(span.nf-mdi-creation) { // Hide fullscreen option on mobile
       // This style would fit better in `Cover.module.scss`
       // but it is overriden if it is placed there.
       // :global() is needed to find raw class names when using CSS modules.
       @include vars.mobile { display: none; }
     }
     // Limit length of title (the 8th <span>)
     span.track_name {
      @include vars.limit-width(20em, 7em, fit-content, inline-grid);
     }
   }
}
