<!DOCTYPE HTML>
<html>
	<head>
		<title>Lofy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet" , type="text/css">
        <link rel="shortcut icon" type="img/png" href="favicon.png">
    </head>
    <body style="padding-left: 1%;">
        <h1><%= error %></h1>
    </body>
</html>
