<!DOCTYPE HTML>
<html>
	<head>
		<title>Cloudify</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet" , type="text/css">
        <link href="nerd-fonts.css" rel="stylesheet" , type="text/css">
        <link rel="shortcut icon" type="img/png" href="favicon.png">
    </head>

    <body>
        <% if (route == "/home") 
        { %>
            <div id="bar">

                <div id="previous"     class="clickable nf nf-mdi-skip_previous"></div>
                <div id="pauseToggle"  class="clickable nf nf-fa-play"></div> 
                <div id="next"         class="clickable nf nf-mdi-skip_next"></div>
                
                <div class="seperator nf nf-indentation-line"></div>
                
                <div id="currentTrack"> - </div> 
                <div id="currentSource"></div> 
                <div id="seekBack"     class="clickable nf nf-fa-backward"></div>
                <div id="progress"> - </div>
                <div id="seekForward"  class="clickable nf nf-fa-forward"></div>

                <div class="seperator nf nf-indentation-line"></div>

                <div id="volumeUp"      class="clickable nf nf-mdi-volume_plus"></div> 
                <div id="volume"> - </div>
                <div id="volumeDown"    class="clickable nf nf-mdi-volume_minus"></div>
                
                <select id="localPlaylist">
                </select>
                
                <select id="spotifyPlaylist">
                </select>

            </div>
            
            <!-- Dummy audio player -->
            <audio id="dummy" controls loop>
                <source src="resc/silence.m4a" type="audio/x-m4a">
            </audio> 
            <!-- Local file player -->
            <audio id="localPlayer" controls preload="auto">
                <source id="localSource">
            </audio> 

            <!-- Spotify iframe injection script -->
            <script src="https://sdk.scdn.co/spotify-player.js"></script>
            
            <!-- Imports -->
            <script src="clientGlobals.js"></script>
            <script src="clientFunctions.js"></script>
            <script src="spotifyFunctions.js"></script>
            <script src="localPlayerFunctions.js"></script>
            <script src="controls.js"></script>

            <!-- Main script -->
            <script src="client.js"></script>
        <% } %>
    </body>
</html>
