<!DOCTYPE HTML>
<html>
	<head>
		<title>Cloudify</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet" , type="text/css">
        <link rel="shortcut icon" type="img/png" href="favicon.png">
    </head>

    <body>
        <% if (typeof title == 'undefined') { title = 'Cloudify'; } %>
        <h1><%= title %></h1>

        <div class="clickable" id="play">Play 🌙</div>
        <div class="clickable" id="pauseToggle">&lt; - &gt;</div>
        <div class="clickable" id="volumeUp">Volume up</div>
        <div class="clickable" id="volumeDown">Volume down</div>
        <div id="volume">&lt; - &gt;</div>
        <div id="currentTrack">Current track: - </div>
        <div class="clickable" id="previous">&lt;&lt;</div>
        <div class="clickable" id="next">&gt;&gt;</div>
        
        <hr/>
            <div class="clickable" id="playerInfo">Player Info</div>
            <div class="clickable" id="playlist">Playlist</div>
            <div class="clickable" id="devices">Devices</div>
        <hr/>
            <div id="debugSpace"></div>
        <hr/>
        <ul id="params">
        </ul>

        <!-- Spotify CDN -->
        <script src="https://sdk.scdn.co/spotify-player.js"></script>

        <!-- Functions + Constants -->
        <script src="clientFunctions.js"></script>
        <script src="clientConstants.js"></script>

        <!-- Main script -->
        <script src="client.js"></script>
    </body>

</html>
