<!DOCTYPE HTML>
<html>
	<head>
		<title>Lofy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet" , type="text/css">
        <link href="nerd-fonts.min.css" rel="stylesheet" , type="text/css">
        <link rel="shortcut icon" type="img/png" href="favicon.png">
    </head>

    <body>
        <% if (route == "/home") 
        { %>
            <div tabIndex="-1" id="bar">
                <div tabIndex="-1" id="playlistToggle" class="floatLeft clickable nf nf-mdi-menu"></div>
                <div tabIndex="-1" id="coverToggle"    class="floatLeft clickable nf nf-mdi-music_box"></div>
                <div tabIndex="-1" id="shuffleToggle"  class="floatLeft clickable nf nf-mdi-shuffle_variant"></div>
                
                <div tabIndex="-1" id="previous"       class="clickable nf nf-mdi-skip_previous"></div>
                <div tabIndex="-1" id="pauseToggle"    class="clickable nf nf-fa-play"></div> 
                <div tabIndex="-1" id="next"           class="clickable nf nf-mdi-skip_next"></div>
                
                <div class="seperator nf nf-indentation-line"></div>
                
                <div tabIndex="-1" id="currentTrack"> - </div> 
                <div tabIndex="-1" id="currentSource"></div> 
                <div tabIndex="-1" id="seekBack"     class="clickable nf nf-fa-backward"></div>
                <div tabIndex="-1" id="progress"> - </div>
                <div tabIndex="-1" id="seekForward"  class="clickable nf nf-fa-forward"></div>

                <div class="seperator nf nf-indentation-line"></div>

                <div tabIndex="-1" id="volumeUp"      class="clickable nf nf-mdi-volume_plus"></div> 
                <div tabIndex="-1" id="volume"> - </div>
                <div tabIndex="-1" id="volumeDown"    class="clickable nf nf-mdi-volume_minus"></div>
                
                <select tabIndex="-1" id="localPlaylist"></select>
                <select tabindex="-1" id="spotifyPlaylist"></select>

            </div>

            <div id="container">
                <table id="trackList">
                    <!-- [playing Source]      [Title] [Album] [Artist]        [Duration] -->
                    <thead>
                        <th class="nf nf-fa-circle_o_notch"></th>
                        <th class="nf nf-mdi-music"></th>
                        <th class="nf nf-mdi-library_music"></th>
                        <th class="nf nf-oct-person"></th>
                        <th class="nf nf-mdi-timelapse"></th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <img id="cover">


            <!-- Dummy audio spotifyPlayer -->
            <audio id="dummy" controls loop src="resc/silence.m4a"></audio> 
            
            <!-- Local file spotifyPlayer -->
            <audio id="localPlayer" controls preload></audio> 

            <!-- Spotify iframe injection script -->
            <script src="https://sdk.scdn.co/spotify-player.js"></script>

            <!-- Imports -->
            <script type="module" src="clientConfig.js"></script>
            <script type="module" src="clientFunctions.js"></script>
            <script type="module" src="spotifyFunctions.js"></script>
            <script type="module" src="localPlayerFunctions.js"></script>
            <script type="module" src="controls.js"></script>

            <!-- Main script -->
            <script type="module" src="client.js"></script>
            
        <% } %>
    </body>
</html>
