<!DOCTYPE HTML>
<html>
	<head>
		<title>Cloudify</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet" , type="text/css">
        <link rel="shortcut icon" type="img/png" href="favicon.png">

    </head>

    <body>
        <% if (typeof title == 'undefined') { title = 'Cloudify'; } %>
        <h1><%= title %></h1>

        <div id="play">Play me</div>
        
        <div id="devices">Devices</div>
        <div id="deviceList"></div>

        <hr/>
        <ul id="params">
        </ul>

        <!-- Spotify CDN -->
        <script src="https://sdk.scdn.co/spotify-player.js"></script>

        <!-- Functions -->
        <script src="clientFunctions.js"></script>

        <!-- Main script -->
        <script src="client.js"></script>
    </body>

</html>
